@media screen and (max-width: 1025px) {
    .container {
        padding: 0 3%;
    }

    .header-content {
        padding-left: 3%;
        padding-right: 3%;
    }

    .slideshow .slick-dots {
        right: 4%;
        top: 38%;
    }

    .tours-item {
        width: 30%;
    }

    .tours-item_icon {
        left: 95px;
        top: 20px;
    }

    .tours-item_photo img {
        width: 100%;
    }

    .offer-text {
        width: 100%;
        left: 0;
        text-align: center;
    }

    .offer-border {
        left: 46.5%;
    }

    .menu {
        margin-top: 10px;
    }

    .img-modal {
        width: 250px;
    }

}

@media screen and (max-width: 930px) {
    .img-modal {
        width: 200px;
    } 
    .modal-content {
        padding: 20px 20px 30px;
    }
    .modal-content-close {
        top: 32px;
        right: 25px;
    }
    .modal-plus-right,
    .modal-plus-left {
        top: -98px;
    }
}

@media screen and (max-width: 800px) {
    .modal-input {
        width: 80px;
        height: 25px;
        padding: 5px;
    }
    .modal-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .modal-second-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .form-middle {
        margin: 0 auto 30px;
    }
    .modal-select {
        margin: 0 auto 40px;
    }
    .modal-count {
        margin-bottom: 40px;
    }
    .modal-equally {
        margin: 0 15px;
    }
    .modal-calculate-btn {
        font-size: 18px;
        padding: 6px 12px;
    }
    .modal-total {
        font-size: 35px;
    }
    .modal-consuly-btn {
        font-size: 25px;
    }
    .img-modal {
        width: 160px;
    }
    .form-top {
        margin: 0 auto 20px;
    }
    .modal-plus-right,
    .modal-plus-left {
        top: -78px;
        left: 36px;
    }
}


@media screen and (max-width: 768px) {
    .form-wrap-letter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .modal-input-letter {
        width: 94%;
        height: 30px;
        padding: 10px;
    }
    .modal-input-textarea {
        width: 94%;
        height: 70px;
        padding: 10px;
    }
    .input-label-letter {
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
    }

    .form-wrap-checkbox {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
    }
    .input-policy {
        margin: 0;
       
    }
    .input-label-checkbox {
       
    }
}


@media screen and (max-width: 660px) {
    .modal-content {
        top: 5%;
        width: 90%;
    }


    .scroll-menu {
        display: none !important;
    }

    .menu {
        display: none;
    }

    .header-contacts span {
        display: none;
    }

    .mail {
        display: none;
    }

    .container {
        padding: 0 30px;
    }

    .header-content {
        padding: 45px 4% 0;
    }

    .phone {
        display: none;
    }

    .phone-icon img {
        width: 20px;
        filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(35deg) brightness(240%) contrast(101%);
    }

    .phone-icon a {
        padding-top: 3px;
    }

    .slideshow .slick-dots {
        display: none!important;
    }

    .header-content {
        /*width: 85%;*/
        width: 100%;
    }

    .logo {
        width: 100%;
        top: 30%;
    }

    .slideshow-text h1 {
        font-size: 36px;
    }

    .slideshow-text p {
        font-size: 18px;
    }

    .offer-border {
        bottom: 38%;
        left: 41%;
    }

    .offer-buttons {
        width: 100%;
        flex-wrap: wrap;
    }

    .offer-buttons a {
        display: block;
        margin-bottom: 10px;
    }

    .about-content_right {
        display: none;
    }

    .about h2 {
        font-size: 36px;
        line-height: 42px;
        width: 98%;
    }

    .about h2 span:after {
        width: 215px;
        bottom: -25%;
        background-size: 100%;
    }

    .about {
        padding: 65px 0 50px;
    }

    .about-content_text {
        margin-top: 30px;
    }

    .skills {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2 {
        font-size: 36px;
    }

    .skills h2 {
        width: 100%;
    }

    .promo .advantages .item {
        float: none;
        width: 100% !important;
        display: block;
        height: auto;
    }

    .promo .advantages {
        display: none;
    }

    .more {
        display: none;
    }

    .skills-list {
        display: block;
    }

    .skills-item {
        text-align: center;
    }

    .skills-text {
        margin-bottom: 60px;
    }

    .skills-item:after {
        bottom: 30px;
        left: 46%
    }

    .slick-dots li.slick-active button:before {
        color: #2dad17;
        opacity: 1;
    }

    .slick-dots li button:before {
        font-size: 10px;
        color: #e0e0e0;
        opacity: 1;
    }

    .catalog-top .btn {
        display: none;
    }

    .catalog-text {
        width: 100%;
    }

    .catalog {
        padding-top: 50px;
    }

    .catalog-text {
        margin-top: 30px;
    }

    .portfolio_grid_wrapper.tg_two_cols,
    .portfolio_grid_wrapper.tg_three_cols {
        height: auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .specifications-list {
        display: none;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .tours-list {
        display: block;
    }

    .tours-item_title {
        margin-bottom: 60px;
    }

    .tours-item {
        display: flex!important;
        justify-content: center;
    }

    .virtual-tours {
        padding-bottom: 55px;
    }

    .slider-content_right {
        display: none;
    }

    .slider-arrows {
        display: none;
    }

    .magazines-slider {
        width: 100%;
    }

    .adress-slider {
        width: 100%;
    }

    .footer-content {
        background-size: 100%;
    }

    .footer-text {
        width: 100%;
        margin-top: 20px;
    }

    .footer-bottom {
        display: block;
        width: 100%;
        margin-top: 40px;
    }

    .copyright,
    .pravo {
        display: block;
        text-align: center;
        margin-right: 0;
    }

    .copyright {
        margin-bottom: 10px;
    }

    .pravo {
        margin-bottom: 5px;
    }

    .social {
        justify-content: center;
    }

    .social-icon:nth-child(2) {
        margin-right: 0;
    }

    .tabs__content {
        margin-top: 30px;
    }
    
    .tabs-btn {
        display: block;
        color: #121212;
        margin: 20px auto 0;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 78%;
        left: 20px;
        transform: translateY(-50%);
        z-index: 99999;
    }

    .blog-item {
        width: 100%;
    }

    /*-----------BURGER-----------*/
    .menu {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: #fff;
        padding: 100px 20px 20px;
        margin: 0;
        transition: .3s;
        z-index: 9999;
    }
    .menu.show {
        transition: .3s;
        left: 0;
        padding-left: 17%;
    }

    .menu-item {
        margin-bottom: 22px;
    }

    .menu-item a {
        color: #fff;
        width: 240px;
        height: 29px;
        padding: 13px 20px;
        vertical-align: middle;
        background-image: url('../img/link-bg.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tablet-btn {
        display: block;
        margin: 40px 0 0 13px;
    }
    
    .menu-dropdown,
    .dropdown {
        display: none;
    }

    .dropdown-mob a {
        color: #000;
        background-image: none;
        padding: 5px 20px;
    }

    .dropdown-mob li {
        margin-bottom: 0;
    }

    .offer-text {
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 42%;
    }

    .slideshow .slider .item img {
        width: 1300px;
    }

    .blog-item {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 580px) {
    .modal-title {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .modal-content {
        top: 2%;
        width: 95%;
    }
    .img-modal {
        width: 120px;
        margin: 0 10px;
    }
    .form-top {
        margin: 0 auto 10px;
    }
    .modal-input {
        width: 50px;
        height: 20px;
        padding: 5px;
        margin-right: 5px;
    }
    .form-middle {
        margin: 0 auto 25px;
    }
    .modal-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .modal-second-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .modal-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .modal-select {
        margin: 0 auto 30px;
    }

    .modal-content-close {
        top: 17px;
        right: -2px;
    }
    .modal-content-close:after {
        width: 20px;
        height: 2px;
    }
    .modal-content-close:before {
        width: 20px;
        height: 2px;
    }
    .modal-plus-right,
    .modal-plus-left {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .form-top,
    .input-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-wrap-letter {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 480px) {
    .modal-select {
        width: 85%;
        height: 40px;
        margin: 0 auto 20px;
    }
    .modal-consuly-btn {
        font-size: 20px;
    }
}
